html {
    scroll-behavior: smooth;
}

/*Banner*/

.carousel-item img {
    height: 72vh;
    object-fit: cover;
    width: 100%;
}

.carousel {
    top: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(20, 20, 20, 0.5);
    /* Cambia el color del botón, puedes ajustar el color que quieras */
}

/*----------------------*/

/*Descripcion*/
.contDescription {
    margin: 0px 100px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contDescription h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 100;
}

.contDescription p {
    font-size: 18px;
    max-width: 1250px;
    font-family: "Arima", system-ui;
}

/*---------------------------*/

/*Logo Base*/

.containerLogo {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contenido {
    max-width: 900px;
    max-height: 500px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.contenido img {
    max-width: 400px;
}

.textLogo p {
    display: flex;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: lighter;
    border-left: 2px solid black;
    height: 190px;
    align-items: center;
}

/*Valores Descripcion*/

.contBase {
    display: flex;
    margin: 80px 200px;
    justify-content: center;
}

.contBase div img {
    max-width: 100px;
    justify-content: center;
    margin-bottom: 25px;
}

.contBase div {
    margin: 0 50px;
    width: 100%;
    max-width: 350px;
    min-width: 280px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contBase h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(0, 32, 43);
}

/*--------------------*/

/*Enlaces*/
.titleEnlaces {
    text-align: center;
    font-weight: bold;
}

.titleEnlaces h3 {
    font-size: 30px;
    font-weight: 550;
    color: rgb(0, 32, 43);
}

.contEnlaces {
    display: flex;
    margin: 80px 290px;
    justify-content: center;
    gap: 90px;
}

.contEnlaces a img {
    width: 220px;
    border-radius: 200px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    border: 1px solid rgb(63, 63, 63);
}

.contEnlaces a img:hover {
    transform: scale(1.2);
}

.contEnlaces p {
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    color: rgb(0, 32, 43);
}
