.tabla-container {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.add-button-container {
    text-align: right;
    margin-bottom: 10px;
}
.add-button {
    background-color:#00202B ; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;}

.add-button:hover {
    background-color: #026592; 
}


.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table thead {
    background-color: #00202B; 
    color: white;
}




.ver-mas-button {
    background-color: #00202B; 
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.ver-mas-button:hover {
    background-color: #026592; 
}


.table th.custom-header {
    background-color: #00202B; 
    color: white; 
}