.tabla-container {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.add-button-container {
    text-align: right;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.table thead {
    background-color: #00202B; 
    color: white;
}

.table th.custom-header {
    background-color: #00202B; 
    color: white; 
}

.accions-content {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    min-height: 12vh;
}
